<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
</head>

<body>

    <table border="1">
        <caption>Employee List</caption>
        <tr>
            <th>Sr.No.</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        <% for(let i=0;i<details.length;i++){ %>
            <tr>
                <td>
                    <%=i+1%>
                </td>
                <td>
                    <%= details[i]["name"] %>
                </td>
                <td>
                    <%= details[i]["address"] %>
                </td>
                <td>
                    <%= details[i]["email"] %>
                </td>
                <td>
                    <%= details[i]["age"] %>
                </td>
            </tr>
            <% }%><br>
    </table>

</body>

</html>